* {
  margin: 0;
  padding: 0;
  font-family: fantasy;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #edf2fb;
}

.body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  border: 3px solid gray;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
}

.display {
  flex: 2;
  border: 16px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #b2b9b7;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  padding: 2px;
  font-size: 48px;
}

#display-text {
  /* overflow: hidden;
  text-overflow: clip; */
  border: 2px solid red;
  max-width: 350px;
}

.buttons {
  flex: 9;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 16px solid rgba(47, 47, 47, 1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgba(47, 47, 47, 1);
}

.line {
  flex: 1;
  display: flex;
  gap: 8px;
}

.buttons button {
  flex: 1;
  font-size: 48px;
}

.num {
  background-color: #217c7e;
}

.op {
  background-color: #ff8f1f;
}

.clear {
  background-color: rgb(10, 87, 164);
}

.equals {
  background-color: dodgerblue;
}

button {
  border-style: none;
  border-radius: 16px;
}

button:hover {
  background-color: rgba(211, 219, 72, 0.699);
}
